@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply text-gray-900 antialiased;
  }
}

@layer utilities {
  .bg-natural-pattern {
    --s: 140px; /* control the size */
    --_g: #0000 52%, #1a3628 /* first color - dark forest green */ 54% 57%, #0000 59%;
    background: radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0
        calc(var(--s) / 2),
      radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s) / 2)
        0,
      radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
      radial-gradient(farthest-side at 50% -33.33%, var(--_g)), #67917a; /* second color - sage green */
    background-size: calc(var(--s) / 4.667) var(--s),
      var(--s) calc(var(--s) / 4.667);
  }
}
